{% load static %}

<section>
	<div class="">
	  <div class="">
	    Welcome <b>{{user.username}}</b>
	  </div>
	  <div class="card-body">
	    <p class="card-text">Place to find all alerts within your hood.</p>
	    <p class="card-text">To add or update your personal information <a href="{% url 'profile-update' %}">click here</a>.</p>
	    <p>You can also search for alerts and posts at <a href="{% url 'myhood:search' %}">search</a> page.</p>
	    <p>To add your first post click the button below.</p>
	    <a href="{% url 'myhood:post-create' %}" class="btn btn-primary">Add Post</a>
		<a href="" data-toggle="tooltip" title="Add Post">
			<button type="button" class="btn btn-primary btn-sm">Add Business</button>
		</a>
		
		<a href="" data-toggle="tooltip" title="Add Post">
			<button type="button" class="btn btn-primary btn-sm">Add Contacts</button>
		</a>
	  </div>
	</div>
	<br>
</section>
